html {
  height: 100%;
}
body {
display:flex;
justify-content: center;
background: radial-gradient(rgb(216, 253, 253), rgb(126, 223, 247));
background-repeat: no-repeat;
background-attachment: fixed;
align-items: center;
z-index: -1;
font-family: 'Roboto', sans-serif;  
}

.all {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
  flex-direction: column;
  
}

/* SVG circle */
.progress-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%; height: auto;
}

.progress-ring__circle {
  display: flex;
  z-index: 2;
  transition: 0.35s stroke-dashoffset;
  /* axis compensation */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-ring__circle1 {
  z-index: -2;
}  

/* Inside circle container */
#containera {
  position: relative;
  top: -380px;
  width: 200px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 2px; 
  margin-top: 10px;
}

@media screen and (max-width: 400px) {
  #containera {
    position: relative;
    top: -300px;
    font-size: 13px;
  }
}

/* Time container */
.time {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 350%;
  margin: -40px 0px;
  z-index: -1;
}

@media screen and (max-width: 400px) {
  .time {
    position: relative;
    margin: -45px 0px;
  }
}

/* Buttons */
.button {
  display: flex;
  justify-content: center;
}

#restart, #stop {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  border: 2px solid rgba(135, 135, 135,0.5);
  background-color: rgba(255, 255, 255, 0.0);
  margin-bottom: 5px;
  padding: 5px 5px 2px 5px;
}

#start {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  border: 2px solid rgba(135, 135, 135,0.5);
  background-color: rgba(255, 255, 255, 0.0);
  margin-bottom: 5px;
  padding: 8px 5px 5px 8px;
}

#stop:hover, #start:hover, #restart:hover {
  background-color: rgba(51, 204, 255, 0.4);
}

#stop:active, #start:active, #restart:active {
  box-shadow: inset 0px 0px 14px -7px rgba(0,0,0,0.75);
}

#stop:focus, #start:focus, #restart:focus {
  outline: none;
}

@media screen and (max-width: 400px) {
  .button {
    margin-top: 10px;
  }
}
  
/* Volume audio controls */
.imageAnchor {
  width: 35px;
  position: relative;
  left: -5px;
}

#volume {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#volume a .svg {
  margin-left: 10px;
  margin-right: 10px;
}

.svg:hover {
  filter: invert(47%) sepia(80%) saturate(2878%) hue-rotate(186deg) brightness(104%) contrast(97%);
}

.svg:active {
  filter: invert(17%) sepia(80%) saturate(1878%) hue-rotate(290deg) brightness(64%) contrast(197%);
}

.imageAnchor:focus img {
  filter: invert(17%) sepia(80%) saturate(1878%) hue-rotate(290deg) brightness(64%) contrast(197%);
}

/* Slider controls */
.slider {
  -webkit-appearance: none;
  width: 120px;
  height: 2px;
  border-radius: 5px;
  background: hsla(0, 0%, 53%, 0.502);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-right: 5px;
  margin-top: 10px;
}

.slider:hover {
  background: rgb(111, 201, 252);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2px;
  height: 18px;
  border-radius: 1.5px;
  background: rgba(135, 135, 135,0.5);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2px;
  height: 18px;
  border-radius: 1.5px;
  background: rgba(135, 135, 135,0.5);
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: rgb(198, 127, 190);
  width: 7px;
}

.slider::-moz-slider-thumb:hover {
  background: rgb(198, 127, 190);
  width: 7px;
}
